body.back-body
{
    background-image: url("../pictures/bg-99.jpg");
}

.marg-container
{
    margin-top: 10%;
}
.sign-card
{
    padding: 20px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
img.sign-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    width: 40%;
}

form.sign-form
{
    max-width: 350px;
    margin: auto;

}
button.sign-btn
{
    color: white;
    background-color: #d64829;
    width: 100%;
    margin-bottom: 1.1rem;
}
a.newaccount
{
    font-size: 1.2rem;
    display: block;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}